@import 'weapp-tailwindcss/css';
@source not "dist";
page {
    background-color: #ffffff;
    font-family:
        PingFang SC Regular,
        sans-serif;
}
::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    background: transparent;
}

@theme {
    --font-PingFangSC-Semibold: PingFang SC Semibold, sans-serif;
    --font-PingFangSC-Regular: PingFang SC Regular, sans-serif;
}
